body{
  background-color:grey;
}


.flexbox-container{
    margin: auto;
    width: 80%;

    padding: 10px;
}

.flexbox-item{
    margin: auto;
    width: 60%;

    padding: 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
      
  }

  table, td, th {
    border: black solid 5px;
    border-collapse: collapse;  
    padding: 15px;
    border-spacing: 3px;
    margin-top: 85px;
    text-align: center;
    color: papayawhip;
 
}